/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 5
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #444;
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 700;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px; 
	line-height: 30px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

/* BOOTSTRAP MODIFICATION */
.navbar-inverse .navbar-brand {
	color: white;
	font-weight: 900;
}

hr {
	border-width: 2px;
}

/* Helpers */

.theme {
	color: #ef8452;
}

.x2 {
	font-size: 30px;
}

/* text small */
.ts {
	font-size: 15px;
}

/* BUTTONS */

.btn-transparent {
	color: #444;
	border: 3px solid #444;
	background: transparent;
	border-radius: 0px;
}

.btn-transparent:hover {
	color: white;
	background: #ef8452;
	border-color: #ef8452;
}

.btn-white {
	color: #fff;
	border: 3px solid #fff;
	background: transparent;
	border-radius: 0px;
}

.btn-white:hover {
	color: #2f2f2f;
	background: #fff;
}

/* HEADER SECTION */

#h {
	background: url(../img/header-bg.jpg) no-repeat center top;
	padding-top: 120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	font-weight: 300;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

#h hr {
	width: 40%;
	border: 2px solid white;
	margin-bottom: 100px;
}

#map { height: 440px; }

/* INFO SECTION */
#info {
	background: #282a2d;
	padding-top: 80px;
	padding-bottom: 80px;
}

#info p {
	color: #ccc;
}

#info i {
	color: #ef8452;
	margin-right: 8px;
}

/* TESTIMONIALS */
.testimonials {
	min-height: 400px;
	margin-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}

.testimonials h2 {
	margin-bottom: 50px;
}

.testimonials p {
	color: #8c9494;
	font-style: italic;
}

.interest-overlay {
	z-index: 800;
}

/* FOOTER SECTION */

#f {
	padding-bottom: 50px;
	padding-top: 50px;
	background: #ef8452;
}

#f input {
	font-size: 18px;
	min-height: 40px;
	border-radius: 0px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: 2px solid #fff;
	margin-bottom: 10px;
	background-color: transparent;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
	color: white;
}

#f .subscribe-input {
	float: left;
	width: 70%;
	text-align: left;
	margin-right: 15px;
	color: white
}

#f .subscribe-submit {
	right: 0;
}

#f .btn-go {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	border-width: 2px;
	font-weight: 700;
	font-size: 19px;
	border-radius: 0px;
}

.subscribe-input::-moz-placeholder {
  color: #fff;
}
.subscribe-input:-ms-input-placeholder {
  color: #fff;
}
.subscribe-input::-webkit-input-placeholder {
  color: #fff;
}
